* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 730px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope";
}

.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 20px 30px #979797;
}

.container-img {
  flex-basis: 40%;
  overflow: hidden;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 0 0 10px;
}

.container-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 30px 40px 0;
}

.container-text .text-title {
  color: hsl(217, 19%, 35%);
  line-height: 1.3;
  font-size: 1.25rem;
}

.container-text .text-quote {
  color: hsl(214, 17%, 51%);
  font-size: 0.75rem;
  line-height: 1.4;
}

.author-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.auth-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.auth-information .auth-name {
  font-size: 0.75rem;
  line-height: 1.4;
  color: hsl(217, 19%, 35%);
}

.auth-information .release-date {
  font-size: 0.75rem;
  line-height: 1.4;
  color: hsl(212, 23%, 69%);
}

.share-icon {
  background-color: hsl(210, 46%, 95%);

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon img {
  display: block;
  width: 15px;
  height: auto;
}

@media (max-width: 768px) {
  body {
    max-width: 688px;
  }
  .container-text {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
    .container{
        flex-direction: column;
    }

    .container-text{
        margin: 32px 30px 18px;
    }

    .container-img img{
        border-radius: 10px 10px 0 0;
    }
}
